Flask
flask_cors
Gunicorn==21.1.0
langchain==0.0.264
google-api-python-client
openai==0.27.2
python-dotenv
requests
pyjwt
regex
uuid
json5==0.9.14
gevent

# PDF file reader
PyPDF2

# Vector - Cluster forming libraries
scikit-learn
numpy

# URL validator
validators

# Web page parser
lxml 

# OCR - Image to text parser
pytesseract
Pillow

# Used by OpenAI embeddings
tiktoken

# CSV and excel file reader
pandas
openpyxl

# Docx
python-docx