Flask
flask_cors
Gunicorn==21.1.0
langchain==0.0.235
google-api-python-client
openai
python-dotenv
requests
pyjwt
regex
uuid
json5==0.9.14
gevent
PyPDF2
pypdf
scikit-learn
numpy
validators
beautifulsoup4
tiktoken
pandas
openpyxl