Flask
flask_cors
Gunicorn==21.1.0
langchain==0.0.261
google-api-python-client
openai
python-dotenv
requests
pyjwt
regex
uuid
json5==0.9.14
gevent
PyPDF2
pypdf
scikit-learn
numpy
validators

# Web page parser
lxml 

tiktoken
pandas
openpyxl